
<navbar/>

<section class="section">
    <div class="container is-fluid">
        <div class="columns">

            <!--div class="col-md-9">
                <div ui-view />
            </div-->

            <div class="column" style="max-width: 420px">

                <mainboard/>

                <analysis/>

            </div>

            <div class="column">
                <utilities/>
            </div>
            <div class="column">
                <databases/>
            </div>
        </div>
    </div>
</section>

